ipykernel
langchain
python-dotenv
langchain_community
pypdf
bs4
arxiv
pymupdf
langchain-text-splitters
langchain-openai
langchain-groq
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain-chroma
streamlit
fastapi
uvicorn
langserve
arxiv
wikipedia
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
pytube
unstructured
huggingface_hub
lamini